Electron
google-chrome
dconf
pavucontrol.ini
spotify
spotify-launcher.conf
Code - OSS
gtk-3.0
neofetch 
pulse 
yay 
waybarbackup
1Password
BraveSoftware
JetBrains
chromium
google-chrome-beta
google-chrome-unstable
microsoft-edge-dev
vivaldi-snapshot
vivaldi
