* {
    font-family: MesloLGS, monospace;
    background: transparent;
    color: #b4b4b4
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding: 0 5px;
    color: #b4b4b4;
    background: transparent;
}

#workspaces button.focused {
    border : 1px solid #b4b4b4;
}

#battery, #custom-spotify, #mode, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #clock {
    margin:     0px 10px 0px 10px;
    min-width:  5px;
}
